@import url("./reset.css");
@import url("https://fonts.cdnfonts.com/css/gilam?styles=63128");
@import url("https://fonts.cdnfonts.com/css/circe?styles=15451");

.body {
  font-family: "Gilam";
  background-color: #171717;
  margin-top: 37px;
}

.container {
  max-width: 1455px;
  margin: 0 auto;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.bottom{
  border: 1px solid #e4b564;
  
}

.bottom a{
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.bottom__link{
  display: inline-block;
  font-family: "Circe";
  font-size: 18px;
  line-height: 1.67;
  margin: 10px 25px 10px 10px;

  color: #e4b564;
}

.bottom img{
  margin-left: 15px;
}

.heatingnetworks {
  margin-bottom: 159px;
}

.heatingnetworks__title {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 38px;
}

.text {
  font-size: 20px;
  line-height: 1.4;
  max-width: 1182px;
  margin-bottom: 41px;

  color: #ffffff;
}

.heatingnetworks__body_list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  grid-gap: 27px;
}

.heatingnetwork__list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  color: #ffffff;
}

.earthworks {
  background: #634f2c;
  grid-column: 1 / 3;
}

.pipeline {
  background: #b4a385;
  grid-column: 3 / 5;
  padding: 43px;
}

.channel {
  background: #e4b564;
  grid-column: 5 / 7;
}

.prop {
  grid-row: 2;
  background: #635a4a;
  grid-column: 1 / 4;
}
.well {
  grid-row: 2;
  background: #b08c4d;
  grid-column: 4 / 7;
}

.vehiclepark {
  margin-bottom: 191px;
}

.vehiclepark__body_list {
  display: grid;
  grid-template-columns: repeat(3, 467px);
  grid-template-rows: repeat(12, 65px);
  gap: 30px;
}

.vehiclepark__title {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 94px;
}

.vehiclepark__list_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
  line-height: 1.4;

  color: #ffffff;
}

.vehiclepark__text{
  margin-left: 52px;
  margin-top: 44px;
}

.slurry {
  background: #0e0e0e;
  grid-row: 1 / 5;
}

.ditchcleaning {
  background: #242424;
  grid-row: 1 / 6;
}

.backhoeloader {
  background: #1f1f1f;
  grid-row: 1 / 4;
}

.loader {
  grid-row: 4;
  background: #1f1f1f;
  grid-row: 5 / 12;
}

.excavator {
  grid-row: 6;
  background: #e4b564;
  grid-row: 6 / 12;
  color: #000000;;
}

.kmu {
  grid-row: 4;
  background: #0e0e0e;
  grid-row: 4 / 8;
}

.rink {
  grid-row: 2;
  background: #0a0909;
  grid-row: 8 / 12;
}

.projects {
  background: #0e0e0e;
  max-width: 100%;
  padding-top: 161px;
}

.project__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}

.projects__title {
  font-size: 50px;
  color: #ffffff;
}

.allproject{
  margin: 10px 40px;
}

.project__list {
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 391px);
}

.project__list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project__list_item:hover .project__text {
  opacity: 1;
  transform: translateY(0);
}

.project__list_item:hover img {
  transform: translateY(-70px);
}

.item1 {
  background: #634f2c;
}

.item2 {
  display: flex;
  flex-direction: column;
  background: rgba(232, 210, 171, 0.76);
}

.project__text {
  font-family: "Gilam";
  font-weight: 600;
  font-size: 22px;
  line-height: 1.27;
  text-align: center;
  padding: 16px 80px 61px 80px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  padding: 60px;

  color: #ffffff;
}

.item3 {
  background: #e4b564;
}

.item4 {
  background: #635a4a;
}

.item5 {
  background: #b08c4d;
}

.item6 {
  background: #634f2c;
}

.footer {
  height: 239px;
}
